body {
    padding-top: 55px;
}

.navbar {
	background-color: #b14fd8;
}

/* HOME */

.home-detail {
	padding: 25px 25px 15px 25px;
	background-image: url(../assets/images/fondo-hero.jpg);
}

.home-info {
	padding: 110px;
	display: block;
	margin: auto;
}

.image-home {
	width: 250px;
	display: block;
	margin: auto;
}

/* ABOUT ME */

.about-me {
    padding: 50px;
}

.about-me .about-row .image-col {
    text-align: center;
}

.about-me .about-row .image-col .btn {
    margin-top: 20px;
    width: 90%;
    font-weight: 600;
    text-transform: uppercase;
}

.about-me .about-row .detail-col h2 {
	padding-top: 20px;
    font-weight: 700;
    font-size: 2rem;
}

.about-me .about-row .detail-col h6 {
    font-weight: 600;
    font-size: 1.2rem;
    margin-top: 15px;
    margin-bottom: 20px;
}

.about-me .about-row .detail-col p {
    font-size: .94rem;
    line-height: 30px;
}

.about-me .about-row .detail-col .info-list {
    margin-top: 30px;
}

.about-me .about-row .detail-col .info-list ul li {
    padding: 8px;
    text-align: right;
    font-size: .95rem;
    list-style: none;
}

.about-me .about-row .detail-col .info-list ul li span {
    float: left;
    font-weight: 600;
    color: #000000;
}

.image-about {
    width: 250px;
}

.session-title {
    margin: 0px;
    margin-bottom: 20px;
}

.session-title h2 {
    width: 100%;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
}

.session-title p {
    text-align: center;
    float: none;
    margin: auto;
    font-size: .95rem;
    margin-bottom: 15px;
}

.session-title span {
    float: right;
    font-style: italic;
}

.btn-cv, .btn-send-message, .btn-go {
	background-color: #b14fd8;
}

/* PROJECTS */

.projects {
    background-image: url(../assets/images/fondo-hero.jpg);
    padding: 20px 15px 5px 15px;
}

.projects .container h2 {
    width: 100%;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
}

/* CONTACT FORM */

/* .download {
    margin-bottom: 0px;
}

.contact-text {
    margin-bottom: 10px;
}

.btn-sm {
    margin-top: 20px;
    width: 100%;
    font-weight: 600;
    text-transform: uppercase;
}

.contact-form h2{
    width: 100%;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
}

#contact-form {
    padding: 15px;
} */

/* FOOTER */

footer {
    padding: 20px 0;
    background-color: #c579c5;
    color: #ffffff;
}

footer ul {
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
}

footer li {
    padding: 0 10px;
}

footer ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

footer ul a:hover {
    opacity: 1;
}

footer .social {
    text-align: center;
    padding-bottom: 25px;
}

footer .social>a {
    font-size: 0px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin: 0 8px;
    color: inherit;
    opacity: 0.75;
}

footer .social>a:hover {
    opacity: 0.9;
}

footer .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #ffffff;
    margin-bottom: 0;
}

@media (max-width: 770px) {
	/* HOME */
	.image-home {
		width: 250px;
		display: block;
		margin: auto;
	}

	.home-info {
		padding: 50px;
		display: block;
		margin: auto;
		text-align: center;
	}

	/* CONTACT FORM
	.map {
		display: none;
	} */
}
