body {
    background: linear-gradient(to bottom, #000, #595959);
    color: white;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: inherit;
}

/* NAVBAR */
nav {
    padding-top: 12px;
}

.nav-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-menu li {
    margin-left: 1rem;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #fff;
    padding: 0.5rem;
    list-style: none;
    right: 0;
    /* Ajuste */
}

.dropdown.open .dropdown-menu {
    display: block;
    left: 0;
    /* Ajuste */
}

.dropdown-toggle {
    cursor: pointer;
}

.dropdown-toggle i {
    font-size: 1.5rem;
}

.dropdown-toggle::after {
    display: none;
}

.dropdown>a,
dropdown-menu>a {
    text-decoration: none;
    color: inherit;
}

/* HOME */

.typing-animation {
    display: inline-block;
    overflow: hidden;
    animation: typing 1.5s steps(20, end), blink-caret 1s step-end infinite;
    white-space: nowrap;
    font-size: 2em;
    border-right: 3px solid #000;
    width: 0;
    animation: typing 2s steps(12) infinite;
    text-align: center;
}

.home-detail {
    padding: 25px 25px 15px 25px;
}

.home-info {
    padding: 50px;
    display: block;
    margin: auto;
    text-align: center;
}

/* ABOUT ME */

.about-me {
    padding: 50px;
}

.about-me .about-row .image-col {
    text-align: center;
}

.about-me .about-row .image-col .btn {
    margin-top: 20px;
    width: 90%;
    font-weight: 600;
    text-transform: uppercase;
}

.about-me .about-row .detail-col p {
    padding-top: 20px;
    font-size: .94rem;
    line-height: 30px;
}

.about-me .about-row .detail-col .info-list {
    margin-top: 30px;
}

.about-me .about-row .detail-col .info-list ul li {
    padding: 8px;
    text-align: right;
    font-size: .95rem;
    list-style: none;
}

.about-me .about-row .detail-col .info-list ul li span {
    float: left;
    font-weight: 600;
}

.session-title {
    margin: 0px;
    margin-bottom: 20px;
}

.session-title h2 {
    width: 100%;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
}

.session-title p {
    text-align: center;
    float: none;
    margin: auto;
    font-size: .95rem;
    margin-bottom: 15px;
}

.session-title span {
    float: right;
    font-style: italic;
}

.btn-cv {
    background-color: transparent;
    color: white;
    border: 2px solid white;
}

.btn-cv:hover {
    background-color: white;
    color: black;
    border: 2px solid;
}

/* PROJECTS */

.projects {
    padding: 20px 15px 5px 15px;
}

.projects .container h2,
.projects .container>h5 {
    width: 100%;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
}

.card-projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.card-link {
    text-decoration: none;
    color: inherit;
}

.card {
    /* estilos para cada tarjeta */
    width: 350px;
    height: 250px;
    background-color: #000;
    overflow: hidden;
    position: relative;
}

.card__body {
    /* estilos para el contenido de la tarjeta */
    position: absolute;
    inset: 0;
    padding: 50px;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
    justify-content: center;
}

.card__title {
    /* estilos para el título */
    padding-top: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

.card__description {
    /* estilos para la descripción */
    font-size: 14px;
    opacity: 0;
    transform: translateY(-25px);
    transition: opacity 0.25s, transform 0.25s;
}

.card:hover .card__description {
    /* estilos para la descripción al pasar el mouse por encima */
    opacity: 0.8;
    transform: translateY(0);
}

.card__image {
    /* estilos para la imagen */
    height: 100%;
    width: 100%;
    object-fit: cover;
    transform: scale(1.15);
    transition: opacity 0.25s, transform 0.35s;
}

.card:hover .card__image {
    /* estilos para la imagen al pasar el mouse por encima */
    opacity: 0.4;
    transform: scale(1);
}

.card__body::before {
    /* estilos para el borde alrededor del contenido de la tarjeta */
    content: "";
    position: absolute;
    inset: 20px;
    border: 2px solid #fff;
    opacity: 0;
    transform: scale(1.25);
    transition: opacity 0.25s, transform 0.25s;
}

.card:hover .card__body::before {
    /* estilos para el borde alrededor del contenido de la tarjeta al pasar el mouse por encima */
    opacity: 0.5;
    transform: scale(1);
}

/* SKILLS */

.info-skills>h2,
.info-skills>h5 {
    width: 100%;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
}

.info-skills {
    padding-top: 15px;
}

.card-skill {
    /* estilos para cada tarjeta */
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: relative;
}

.card__image-skill {
    /* estilos para la imagen */
    height: 100%;
    width: 100%;
    transform: scale(0.8);
    transition: opacity 0.25s, transform 0.35s;
}

.card-skill:hover .card__image-skill {
    /* estilos para la imagen al pasar el mouse por encima */
    opacity: 0.8;
    transform: scale(1);
}

.skill-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

/* FOOTER */

footer {
    padding: 20px 0;
    color: #ffffff;
}

.icons {
    display: flex;
    column-gap: 25px;
    flex-wrap: nowrap;
    justify-content: center;
    padding-bottom: 15px;
}

.icons>a {
    text-decoration: none;
    color: inherit;
}

.icon {
    display: inline-flex;
    width: 60px;
    height: 60px;
    text-decoration: none;
    font-size: 26px;
    color: #fff;
    border-radius: 50%;
    outline: 2px solid #fff;
    transition-property: outline-offset, outline-color, background-color;
    transition-duration: 0.25s;
}

.icon:hover {
    outline-offset: 4px;
}

.icon i {
    margin: auto;
}

.icon:hover i {
    animation: shake 0.25s;
}

.icon--instagram:hover {
    background-image: radial-gradient(circle at 30% 107%,
            #fdf497 0%,
            #fdf497 5%,
            #fd5949 45%,
            #d6249f 60%,
            #285aeb 90%);
    outline-color: #a02d76;
}

.icon--twitter:hover {
    background-color: #a80000;
    outline-color: #a80000;
}

.icon--linkedin:hover {
    background-color: #0077b5;
    outline-color: #0077b5;
}

.icon--github:hover {
    background-color: #2ea44f;
    outline-color: #2ea44f;
}

footer .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #ffffff;
    margin-bottom: 0;
}

footer .contact {
    text-align: center;
}

@keyframes shake {
    10% {
        transform: rotate(15deg);
    }

    20% {
        transform: rotate(-15deg);
    }

    30% {
        transform: rotate(15deg);
    }

    40% {
        transform: rotate(-15deg);
    }
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: #000;
    }
}

@media (max-width: 500px) {

    /* HOME */
    .image-home {
        width: 250px;
        display: block;
        margin: auto;
    }

    .home-info {
        padding: 50px;
        display: block;
        margin: auto;
        text-align: center;
    }

    .typing-animation {
        font-size: 1em;
    }
}